:{$PORT} {
    log {
        format json
    }

    @forbidden not header X-API-Key "{$API_KEY}"
    respond @forbidden 403 "Forbidden"

    reverse_proxy {
        dynamic a {
            name {$UPSTREAM_DOMAIN}
            port {$UPSTREAM_PORT}
            refresh 1s
            dial_timeout 30s
            versions ipv4 ipv6
        }
    }
}
